@* 
    
 
@model BankBranch

    <h1>Branch Details</h1>

    <div>
        <h6>Branch:</h6>
    <p>@Html.DisplayFor(model => model.branchName)</p>
    <h6>Area:</h6>
    <p> @Html.DisplayFor(model => model.location)</p>
    <h6>Location</h6>
    <p><a href="@Html.DisplayFor(model => model.locationURL)">@Html.DisplayFor(model => model.locationURL)</a></p>
    <h6>Branch Manager:</h6>
    <p>@Html.DisplayFor(model => model.branchManager)</p>
    <h6>Employees</h6>
    <p>@Html.DisplayFor(model => model.employeeCount)</p>

    </div>

 *@
 @model BankBranch
<h1>Branch Details</h1>

<div>
    <table>
        <tr>
        </tr>
@*         <tr>
            <th>Branch: </th>
            <td>@Html.DisplayFor(model => model.branchName)</td>
        </tr> *@
        <tr>
            <th>Area: </th>
            <td>@Html.DisplayFor(model => model.location)</td>
        </tr>
        <tr>
            <th>Location: </th>
            <td><a href="@Html.DisplayFor(model => model.locationURL)">@Html.DisplayFor(model => model.locationURL)</a></td>
        </tr>
        <tr>
            <th>Branch Manager: </th>
            <td>@Html.DisplayFor(model => model.branchManager)</td>
        </tr>
        <tr>
            <th>Employees: </th>
            <td>@Html.DisplayFor(model => model.employeeCount)</td>
        </tr>

    </table>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="AddEmployee" asp-route-id="@Model.Id" class="btn btn-primary">Add Employee</a>
</div>
<div>
    <table>
        <h3>Employees:</h3>
        @if (Model.Employees != null && Model.Employees.Any())
        {
            <ul>
                @foreach (var employee in Model.Employees)
                {
                    <li>@employee.Name - @employee.Position</li>
                }
            </ul>
        }
        else
        {
            <p>no employees found</p>
        }
    </table>
</div>
